body{
    background-color: ghostwhite;
}

/* logo design template*/
.logoblack {
    font-weight: bold;
    padding: 12px;
    margin:5px 5px;
    border:5px solid black;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    font-size:30px;
    color: black;
    text-decoration: none;
    letter-spacing: 4px;
    display: inline-block;
}

.logowhite{
    padding: 12px;
    border:5px solid white;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    font-size:30px;
    color: white;
    text-decoration: none;
    letter-spacing: 4px;
    display: inline-block;
}
/****************/

/*navigation bar*/
header{
    background-color:ghostwhite;
}
nav {
    width:100%;
    text-align: center;
    position: relative;
    display: inline-block;
}

nav h1{
    float: left;
    margin:15px 20px;
}

nav ul{
    margin:0 10px;
    padding:0;
    display: flex;
}
 /*fix contact us button*/
nav ul li{
    margin:0 auto;
    list-style:none;
}

nav ul li a{
    display:inline-block;
    color:black;
    font-weight: bold;
    font-size:20px;
    padding:33px 25px;
    text-decoration: none;
}

nav ul li a:hover{
    text-decoration: underline;
}

nav ul li ul{
    text-align: left;
    display: none;
    background-color: whitesmoke;
    min-width: 250px;
    position: absolute;
    margin-top: 1px;
    box-shadow: 0 2px 5px black;
    transition: .5s;
    
}

nav ul li:hover ul{
    z-index: 1;
    opacity: 1;
    display: block;
    
}
a.active{
    text-decoration: underline;
}

nav ul li ul li a{
    padding:10px;
}

/* End of nav bar*/

/* Outlets */

#text{
	text-align:center;
	font-size:25px;

}

#text h2{
	margin-top:5px;
	margin-bottom:5px;
}
	
.gmap_canvas {
	overflow:hidden;
	background:none!important;
	margin: 0;
	height: 400px;
}

.gmap_canvas iframe{
    border:0;
	width:50%;
	height:380px;
}

.gmap_canvas p{
	margin-top:50px;
	padding-left:10px;
	font-size:20px;
}

.descriptionp{
	width:50%;
	float:right;

}

/* End of outlets page /*


/*Index page slideshow*/
body,#slider,.wrap,.slide-content{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 90vh;
    overflow-x:hidden;
    text-align:center;
}

.wrap{
    position: relative;
}

.slide{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.slide1{
    background-image: url(images/note9.jpg);
}
.slide2{
    background-image: url(images/p20banner.jpg);
}
.slide3{
    background-image:url(images/v11.jpg);
}
.slide4{
    background-image: url(images/iphonexs.jpg);
}

.slide-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.slide-content p{
    margin-left:3.5em;
    margin-top:5em;
    width:30%;
    padding:20px;
    border:5px solid white;
    background-color:transparent;
    font-size:40px;
    font-weight: bold;
    color:#ffffff;
}

.slide-content a{
    text-decoration: none;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    margin-bottom:5%;
    font-size:20px;
}

.slide-content a:hover{
    background-color:gray;
}


.arrow{
    cursor: pointer;
    position: absolute;
    top:50%;
    margin-top:-50px;
    width:0;
    height:0;
    border-style: solid;
}

#arrow-left{
    border-width: 30px 40px 30px 0;
    left:0;
    margin-left:30px;
    border-color: transparent #ffffff transparent transparent;
}

#arrow-right{
    border-width: 30px 0px 30px 40px;
    right:0;
    margin-right:30px;
    border-color: transparent transparent transparent #ffffff;
}
/* end of slideshow*/



/*homepage introduction part*/
.abouthomepage{
    background-color: #000000;
    margin-top:10px;
    padding: 15em 7em;
    color:white;
    text-align: center;
}
.abouthomepage h2{
    font-size:35px;
    margin-top:10px;
    margin-bottom: 25px;
}
.abouthomepage h2{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 48px;
}
.abouthomepage h3{
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

.abouthomepage p{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}
/* end of homepage introduction*/



/*homepage whats new part*/
.whatsnew h4{
    border: 5px solid black;
    padding: 12px;
    width:30%;
    margin:20px auto;
    text-align: center;
    font-size:48px;
}

.whatsnew p{
    font-size:20px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}
.whatsnew{
    padding: 10px;
}

.phoneslides{
    display: none;
    margin: 30px auto;
    width:360px;
    height:360px;
}
#disclaimer h5 {
    font-size: 20px;
    text-align: center;
    margin: 10px auto;
    border:5px solid black;
    width:80%;
}


/* feedback Form*/
#feedback-messages{
    text-align: center;
}

#feedback-messages p{
margin:0 15%;
text-align:justify;
font-size:20px;
}

#contactform{
	position: relative;
    font-family:Arial, sans-serif;
    font-size: 0.8em;
}

.feedbacktable{
	margin:auto;
}

.btn{
    display: inline-block;
    background: grey;
    color: white;
    font-size:15px;
	font-family: Arial, sans-serif;
    padding: 0.2em 1em;
    text-align: center;
    border-radius: 4px;
    border: 1px solid black;
    margin-top: 5%;
    margin-bottom: 2%;
}

#contactform input[type=submit] {
    cursor: pointer;
}

.feedback-button {
    margin-top: -4%;
    margin-left: 2%;
}

.feedbacktable tr{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.feedbacktable td, th {
    display: table-cell;
    vertical-align: inherit;
}

.empty-h {
    display: none;
}

#contactform form {
    position: relative;
    font-size: 15px;
	color: black;
	display: block;
}

#contactform fieldset {
    margin: 0 30px;
    margin-bottom: 50px;
    margin-top: 50px;
    background-color: #fff;
	border: 1px solid black;
}

#contactform legend {
    font-size: 20px;
    background-color: #696969;
    color: white;
    padding: 5px 15px;
    text-align: left;
    margin-left: 10%;
}

#contactform table {
    border-collapse: collapse;
    border-spacing: 0;
	margin: 0 auto;
}

.sec_table {
    margin: 0 10%;
}

#contactform tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

#contactform table td {
    text-align: left;
    width: 14%;
    height: 50px;
    padding-right: 10px;
}

#sastlevel{
	padding-left:15%;
}

#suggestion{
	width:100%
}

/* End of Feedback Form*/



/*product page banners*/
#banner-products,#banner-careers,#banner-accessories,#banner-outlets,#banner-feedback,
#banner-contact,#banner-about,#banner-samsung,#banner-apple,#banner-vivo,#banner-compare,#banner-huawei,#banner-anker,#banner-hoco{
    height:60vh;
    width:100%;
    background-size:cover;
    background-attachment: fixed;
}
#banner-products{
    background-image: url(images/banner-products.jpg);
}
#banner-hoco{
    background-image:url(images/hocoproductclick.jpg);
}

#banner-careers{
    background-image: url(images/careers.jpg);
}

#banner-accessories{
    background-image: url(images/accesoriesbanner.jpg);
}

#banner-outlets{
    background-image: url(images/outletsbanner.jpg);
}
#banner-feedback{
    background-image: url(images/feedbackbanner.jpg);
}

#banner-contact{
    background-image: url(images/contactusbanner.jpg);
}
#banner-compare{
    background-image: url(images/comparephones.jpg);
}

#banner-about{
    background-color: black;
}

#banner-kiwano{
    border:3px solid black;
}


#banner-samsung{
    background-image: url(images/note9.jpg);
}
#banner-anker{
    background-image: url(images/ankerbanner.png);
}

.banner a {
    padding:3px;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
    background-color: gainsboro;
    color:black;
    text-decoration: none;
    display: block;
    width:23%;
    margin-left:78%;
}

.banner a:hover {
    background-color: black;
    color:white;
}

#banner-huawei{
    background-image: url(images/p20banner.jpg);
}

#banner-vivo{
    background-image: url(images/vivophones.png);
}
#banner-apple{
    background-color: black;
}
#applelogo img{
    display: block;
    margin:0 auto;
    padding-top:4%;
}
h1.banner-text-white-text{
    border:5px solid white;
    padding:10px;
    color:white;
    font-size: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    top:35%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 1;
}

.logobanner{
    border:5px solid white;
    padding:10px;
    color:white;
    font-size: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    top:35%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 1;
    letter-spacing: 4px;

}

h1.banner-text-black-text{
    border:5px solid black;
    padding:10px;
    color:black;
    font-size: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    top:35%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 1;
}
/* End of product page banners*/


/*Product.html product choice buttons*/
.product-container{
    text-align: center;
    width:80%;
    margin:0 auto;
}

.product-click{
    width:23em;
    height: 15em;
    display: inline-block;
    margin:2em;
    position: relative;
}

.product-click img{
    margin: 0 auto;
    height:15em;
    width:23em;
    border-radius: 4px;
    transition: .3s;
    border: 2px solid #000000;
}

.product-click:hover img{
    filter: blur(2px) brightness(35%);
    box-shadow:0 0 16px cyan;
}

.product-click h2{
    position: absolute;
    left:2em;
    bottom:3em;
    z-index: 1;
    color:#ffffff;
    text-align: center;
    opacity: 0;
    transition: .3s;
}

.product-click:hover h2{
    opacity: 1;
}


#brands{
    border: 5px solid black;
    width:30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 1em;
    text-align: center;
    padding:1em;
    font-size:40px;
}
/*Product choice buttons*/


/*career page form*/
.websiteform{
    margin-top:20%;
    top:50%;
    transform: translateY(-50%);
    width: 100%;
    padding: 0 20px;
}

#career-form{
    display: flex;
    max-width: 550px;
    margin: 0 auto;
    background: rgba(0,0,0,0.8);
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px;
}

.input-fields{
    display: flex;
    flex-direction: column;
    margin-right: 4%;
    color:grey;
    font-size: 17px;
  }
   
  .input-fields,.description{
    width: 48%;
  }

  .input-fields input, .description textarea{
  margin: 10px 0;
  background: transparent;
  border: 0px;
  border-bottom: 2px solid #c5ecfd;
  padding: 10px;
  color: #c5ecfd;
  width: 100%;
}
.description textarea{
    height: 300px;
}

  #submit-button{
      background:#39b7dd;
      text-align: center;
      padding: 15px;
      border-radius: 5px;
      color:#ffffff;
      cursor: pointer;
  }

  #Careerheadings {
      text-align: center;
  }

  #Careerheadings h2{
      font-size:40px;
  }

  #Careerheadings h3, #Careerheadings ol{
      font-size: 20px;
      margin:0 15%;
      text-align: justify;
  }
  #Careerheadings li{
    margin:10px 0;
  }
  /******************/



  /*Following are design for each product page*/

  .phones-container {
    display: flex;
    flex-wrap: wrap;
    width:95%;
    max-height: 80%;
    height:35em;
    margin: 20px auto;
    justify-content: center;
    background-color: white;
    border:2px solid black;
  }
  
  .phone {
    display: flex;
    flex-direction: column;
    width: 25%;
    box-sizing: border-box;
    vertical-align: top;
    padding: 0 10px;
    margin: 24px -4px 24px 0;
    text-align:center;
  }
  
  @media (max-width: 600px) {
    .phone {
      width: 50%;
    }
  }
  
  .phone_heading {
    font-weight:bold;
    padding-top:15px;
    padding-bottom:0px;
    padding-left:10px;
    padding-right:10px;
    text-align: center;
    background-color: white;
    font-family: Arial,sans-serif;
    font-size:20px;
  }
  
  .phone_content {
    flex: 1 1 auto;
    padding: 10px;
    text-align:center;
    font-family: Arial, sans-serif;
    font-size:20px;
    background-color:white;
  }
  
  .buttons-phone{
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 14px;
    font-family: Arial,sans-serif;
    margin:20px auto;
    text-decoration: none;
  }
  
.phone_content,.buttons-phone{
    opacity:0;
}

.phone:hover .phone_content, .phone:hover .buttons-phone{
    opacity:1;
}

  .phone-img img{
      border-top:0;
      border-bottom:0;
      padding:10px;
      background-color:white;
      width:150px;
      height:300px;
      margin:0 auto;
  }
  .vivo img{
    border-top:0;
    border-bottom:0;
    padding:10px;
    background-color:white;
    width:270px;
    height:300px;
    margin:0 auto;
}

  #phone1specs,#phone2specs,#phone3specs,#phone4specs{
      display: none;
      margin:100px;
      border:1px solid black;
      padding:20px;
  }

  #phone1specs table,#phone2specs table,#phone3specs table,#phone4specs table{
      display: inline-block;
      font-size:20px;
      text-align: left;
      margin:50px 20px;
  }
  #phone1specs img,#phone2specs img,#phone3specs img,#phone4specs img{
    position: relative;
    width:200px;
    height:300px;

  }
/*end of product page*/



  #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    font-weight: bold;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: #555;
  }


  #Contact-Us-Content{
      text-align: center;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-size:25px;
  }

  .social-media{
      width:450px;
      height: 250px;
  }


  #about-company {
      margin:0;
      font-family: Helvetica,sans-serif;
  }

  .about-company-content{
      background-color: beige;
      z-index: 1;
      font-size:30px;
      margin:1em auto;
      width:80%;
      color:black;
      padding:7px;
      text-align: justify;
  }

  #who-are-we{
      background-image: url(images/about-content-who.jpg);
      padding:17%;
      background-attachment: fixed;
  }


  #our-aim{
    background-image: url(images/our-mission.jpg);
    padding:17%;
    background-attachment: fixed;
}
#our-vision{
    background-image: url(images/Our-vision.jpg);
    padding:17%;
    background-attachment: fixed;
}  





/*Group Page*/
.member_info{
    margin:30px;
    background-color: white;
    border:3px solid black;
    padding:20px;
}

.member_text{
    text-align: left;
    margin:0 auto;
    width:50%;
    font-family: 'Times New Roman', Times, serif;
    font-size:45px;
    display: inline-block;
}

.member_info img{
    height:400px;
    width: 400px;
}
/*End of group page*/



/*fixed footer css*/
  footer{
    background-color: #000000;
    color:#ffffff;
    text-align: center;
    padding: 15px;
    font-size:20px;
    clear:both;
}

footer p a{
    color:white;
    text-decoration: none;
}

footer p a:hover{
    color:red;
}
#footer-sitemap{
    text-align: left;
}

.product-sitemap{
    text-align: left;
    display: inline-block;
    width:15%;
    height:70%;
    font-size:15px;
    margin:0 20px;
}

.product-sitemap ul{
    padding:0;
    list-style-type: none;
}

.product-sitemap ul li{
    padding:10px 0 ;
}

.product-sitemap a{
    text-decoration: none;
    color:white;
    margin:30px 0;
}
/***************/