body{
    background-color: lightyellow;
}

/*navigation*/
header{
    background-color:beige;
}
nav {
    position: relative;
    display: inline-block;
}

nav h1{
    float: left;
    margin:15px 20px;
}


.logoblack{
    padding: 12px;
    border:5px solid black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:30px;
    color: black;
    text-decoration: none;
    letter-spacing: 4px;
    display: inline-block;
}

.logowhite{
    padding: 12px;
    border:5px solid white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:30px;
    color: white;
    text-decoration: none;
    letter-spacing: 4px;
    display: inline-block;
}

nav ul{
    margin:0 10px;
    padding:0;
    display: flex;
}

nav ul li{
    list-style:none;
}

nav ul li a{
    display:inline-block;
    color:black;
    font-weight: bold;
    font-size:20px;
    padding:33px 25px;
    text-decoration: none;
}

nav ul li a:hover{
    text-decoration: underline;
}

nav ul li ul{
    display: none;
    background-color: beige;
    min-width: 250px;
    position: absolute;
    margin-top: 1px;
    box-shadow: 0 2px 5px black;
    transition: .5s;
}

nav ul li:hover ul{
    z-index: 1;
    opacity: 1;
    display: block;
    
}
a.active{
    text-decoration: underline;
}

nav ul li ul li a{
    padding:10px;
}

/* End of nav bar*/

/*Index page slideshow*/
body,#slider,.wrap,.slide-content{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 90vh;
    overflow-x: hidden;
}

.wrap{
    position: relative;
}

.slide{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.slide1{
    background-image: url(images/note9.jpg);
}
.slide2{
    background-image: url(images/p20pro.jpg);
}
.slide3{
    background-image:url(images/v11.jpg);
}
.slide4{
    background-image: url(images/iphonexs.jpg);
}

.slide-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.slide-content span{
    margin-left:3.5em;
    margin-top:5em;
    width:30%;
    padding:1em;
    border:5px solid white;
    background-color:transparent;
    font-size:3rem;
    font-weight: bold;
    color:#ffffff;
}

.arrow{
    cursor: pointer;
    position: absolute;
    top:50%;
    margin-top:-50px;
    width:0;
    height:0;
    border-style: solid;
}

#arrow-left{
    border-width: 30px 40px 30px 0;
    left:0;
    margin-left:30px;
    border-color: transparent #ffffff transparent transparent;
}

#arrow-right{
    border-width: 30px 0px 30px 40px;
    right:0;
    margin-right:30px;
    border-color: transparent transparent transparent #ffffff;
}
/* end of slideshow*/



/*homepage introduction part*/
.abouthomepage{
    background-color: #000000;
    margin-top:10px;
    padding: 15em 7em;
    color:white;
    text-align: center;
}
.abouthomepage h2{
    font-size:35px;
    margin-top:10px;
    margin-bottom: 25px;
}
.abouthomepage h2{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 48px;
}
.abouthomepage h3{
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

.abouthomepage p{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}
/* end of homepage introduction*/

/*homepage whats new part*/
.whatsnew h2{
    border: 5px solid black;
    padding: 12px;
    width:30%;
    margin:20px auto;
    text-align: center;
    font-size:48px;
}

.whatsnew p{
    font-size:20px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}
.whatsnew{
    padding: 10px;
}

.phoneslides{
    display: none;
    margin: 30px auto;
    width:360px;
    height:360px;
}
#disclaimer h2 {
    font-size: 20px;
    text-align: center;
    margin: 10px auto;
    border:5px solid black;
    width:80%;
}


/*product banners*/
#banner-products,#banner-careers,#banner-accessories,#banner-outlets,#banner-feedback,
#banner-contact,#banner-about,#banner-samsung,#banner-apple{
    height:50vh;
    width:100%;
    background-size:cover;
    background-attachment: fixed;
}
#banner-products{
    background-image: url(images/banner-products.jpg);
}

#banner-careers{
    background-image: url(images/careers.jpg);
}

#banner-accessories{
    background-image: url(images/accessoriesbanner.jpg);
}

#banner-outlets{
    background-image: url(images/outletsbanner.jpg);
}
#banner-feedback{
    background-image: url(images/feedbackbanner.jpg);
}

#banner-contact{
    background-image: url(images/contactusbanner.jpg)
}

#banner-about{
    background-color: black;
}

#banner-samsung{
    background-color: darkblue;
}
#banner-apple{
    background-color: black;
}
#applelogo img{
    display: block;
    margin:0 auto;
    padding-top:25px;
}
h1.banner-text-white-text{
    border:5px solid white;
    padding:10px;
    color:white;
    font-size: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    top:25%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 1;
}

.logobanner{
    border:5px solid white;
    padding:10px;
    color:white;
    font-size: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    top:25%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 1;
    letter-spacing: 4px;

}

h1.banner-text-black-text{
    border:5px solid black;
    padding:10px;
    color:black;
    font-size: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    top:25%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 1;
}

/*product clicks*/
.product-container{
    text-align: center;;
    width:80%;
    margin:0 auto;
}

.product-click{
    width:23em;
    height: 15em;
    display: inline-block;
    margin:2em;
    position: relative;
}

.product-click img{
    margin: 0 auto;
    height:15em;
    width:23em;
    border-radius: 4px;
    transition: .3s;
    border: 2px solid #000000;
}

.product-click:hover img{
    filter: blur(2px) brightness(35%);
    box-shadow:0 0 16px cyan;
}

.product-click h2{
    position: absolute;
    left:2em;
    bottom:3em;
    z-index: 1;
    color:#ffffff;
    text-align: center;
    opacity: 0;
    transition: .3s;
}

.product-click:hover h2{
    opacity: 1;
}


#brands{
    border: 5px solid black;
    width:30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    margin-bottom: 1em;
    text-align: center;
    padding:1em;
    font-size:40px;
}

/*career forms*/
.websiteform{
    margin-top:20%;
    top:50%;
    transform: translateY(-50%);
    width: 100%;
    padding: 0 20px;
}

#career-form{
    display: flex;
    max-width: 550px;
    margin: 0 auto;
    background: rgba(0,0,0,0.8);
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px;
}

.input-fields{
    display: flex;
    flex-direction: column;
    margin-right: 4%;
    color:grey;
    font-size: 17px;
  }
   
  .input-fields,.description{
    width: 48%;
  }

  .input-fields input, .description textarea{
  margin: 10px 0;
  background: transparent;
  border: 0px;
  border-bottom: 2px solid #c5ecfd;
  padding: 10px;
  color: #c5ecfd;
  width: 100%;
}
.description textarea{
    height: 300px;
}

  #submit-button{
      background:#39b7dd;
      text-align: center;
      padding: 15px;
      border-radius: 5px;
      color:#ffffff;
      cursor: pointer;
  }

  #Careerheadings h1,#Careerheadings h2{
      text-align: center;
  }

  #Careerheadings h1{
      font-size:40px;
  }

  #Careerheadings h2, #Careerheadings ol{
      font-size: 20px;
      margin:0 15%;
      text-align: justify;
  }
  #Careerheadings li{
    margin:10px 0;
  }

  /*Following are design for samsung page*/

  .phonedisplay-container{
      margin:0 auto;
      text-align: center;
  }
  .phonedisplay{
    margin:5em 1.7em; 
    width:20%;
    height:70%;
    transition:transform .2s;
    display: inline-block;
    cursor:pointer;
    
}
.phonedisplay h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

  .phonedisplay img{
      display: block;
      padding: 10px;      
      width:154px;
      height:345px;
      margin:0 auto;
  }
  .phonedisplay p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    opacity: 0;
    margin-bottom:30px;
}
  
  .phonedisplay:hover p{
      opacity: 1;
  }

  .phonedisplay:hover{
      border: 3px solid gray;
      transform:scale(1.1);
      box-shadow: 5px 10px black;
      
  }
  .phonespecs{
      text-align: center;
      width:80%;
      margin:0 auto;
  }
  .phonespecs table{
      margin:0 auto;
  }

  #galaxyS9specs,#galaxynote9specs,#galaxyA9specs,#galaxyJ4specs{
      display: none;
      margin:20px;
  }

  /*end of samsung page*/

  /*fixed footer css*/
  footer{
    background-color: #000000;
    color:#ffffff;
    text-align: center;
    padding: 15px;
    font-size:20px;

}